.CreateTodoButton {
  background-color: #fff9c4;
  box-shadow: 0px 5px 50px rgba(64, 29, 119, 0.5);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 46px;
  position: fixed;
  right: 24px;
  bottom: 24px;
  font-weight: bold;
  color: #401d77;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  width: 54px;

  transform: rotate(0);
  transition: .2s ease;
  z-index: 1;
}

.CreateTodoButton:hover {
  transform: rotate(224deg);
}

