:root {
   --tittle: #401d77;
   --primary: #c2aee2;
   --secondary: #faeb61;
   --black: #201e1c;
   --grey: #a5a5a5;
   --dark-grey: #757575;
   --off-white: #faf8f7;
   --just-white: #fff;
} 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Archivo', sans-serif;
  background-color: #c2aee2;
}

